CRTI_OBJ:=$(ARCHDIR)/crt/crti.o
CRTN_OBJ:=$(ARCHDIR)/crt/crtn.o

CRTBEGIN_OBJ:=$(shell $(CC) $(CFLAGS) $(LDFLAGS) -print-file-name=crtbegin.o)
CRTEND_OBJ:=$(shell $(CC) $(CFLAGS) $(LDFLAGS) -print-file-name=crtend.o)


KERNEL_ARCH_CFLAGS:= -I$(ARCHDIR)/include
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

include $(ARCHDIR)/boot/make.config
include $(ARCHDIR)/console/make.config
include $(ARCHDIR)/gdt/make.config
include $(ARCHDIR)/idt/make.config
include $(ARCHDIR)/isr/make.config
include $(ARCHDIR)/irq/make.config
include $(ARCHDIR)/asm/make.config
include $(ARCHDIR)/kbd/make.config
include $(ARCHDIR)/pit/make.config
